<html ng-app="vm">
<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:700" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="MiniVM.js"></script>
  <script src="ng-vm.js"></script>
</head>
<body ng-controller="processCtrl">
    <div id="title">
        <h1>processable</h1>
        <div id="menu">
            <a id="about-link" href="http://github.com/rmw2/Processable" class="menu-btn">about</a>
        </div>
        <div id="about">
            <!---->
        </div>
    </div>

    <div id="text" class="section round">
        <div class="section-title">.text</div>
        <div class="content">
            <div class="inst" ng-repeat="inst in P.text">
                <span class="inst-addr">{{$index}}</span>
                <span class="inst-text" ng-class="{'current-inst': $index==P.where()}">{{inst}}</span>
            </div>
        </div>
    </div>

    <div id="controls" class="section round">
    <div class="section-title">controls</div>
        <div class="content">
            <button id="reset-btn" class="control-btn" ng-click="P.start()">
                restart <img class="btn-img" src="restart.png"/>
            </button>
            <button id="step-btn" class="control-btn" ng-click="P.step()">
                step <img class="btn-img" src="step.png" />
            </button>
        </div>
    </div>

    <div id="registers" class="section round">
        <div class="section-title">registers</div>
        <div class="content">
            <div class="register" ng-repeat="(name, value) in P.regs.regs">
                <div id="register-name-{{$index}}" class="register-name">{{name}}</div>
                <div id="register-value-{{$index}}" class="register-value">{{value}}</div>
            </div>
        </div>
    </div>

    <div id="stack" class="section round">
        <div class="section-title">stack</div>
        <div class="content">
            <div id="stack-contents">
                <div class="stack-word" ng-repeat="item in P.stackItems()">
                    <div class="stack-addr" ng-class="{'stack-pointer' : item.addr==P.regs.get('rsp')}">
                        {{item.addr}}
                    </div>
                    <div class="stack-item">
                        {{item.val}}
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>