/* Attempted scrollbar hacks */

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}

/* darken on click */
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61);
  -webkit-border-radius: 100px;
}