.heap-chunk {
	background-color: #eee;
	border-right: 1px solid #000;
	height: 100%;
}

#heap-full {
	margin: 2em 2em;
	height: 3em;
	width: calc(100% - 4em);

	display: flex;
	position: relative;
}

#heap-detail-window {
	height: 100%;
	background-color: transparent;
	position: absolute;
	cursor: move;

	border: 2px solid #000;
	border-left: 4px solid #000;
	border-right: 4px solid #000;
}

#heap-detail-start {
	bottom: -1.5em;
	left: -3em;
}

#heap-detail-end {
	bottom: -1.5em;
	right: -3em;
}

.heap-address {
	position: absolute;
	font-family: courier;
	font-size: 0.75em;
}

#heap-start {
	left: 0;
	top: -1em;
}

#heap-brk {
	right: 0;
	top: -1em;
}

/**
 *
 */
#heap-detail, .heap-raw {
	font-family: courier;

	display: flex;
}

#heap-detail {
	overflow-x: scroll;
	margin: 0 1em;
	height: 8em;
}

.heap-decode {
	position: relative;
    display: flex;
	height: 6em;
	font-size: 0.9em;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;


	cursor: pointer;    
}

.heap-decode-content, .heap-decode-encoding {
    /* prevent weird text selection */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
}

.heap-decode-encoding {
	position: absolute;
	font-size: 0.5em;
	top: 0.25em;
	right: 0.25em;
}

.heap-byte, .heap-decode {
	border-right: 1px solid #000;
}

.heap-byte > .byte-value {
	padding: 0;
}