/* General navbar styles */
h1.nav-name {
    height: 100%;
    margin-left: 5%;
    padding: 0.5em;
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
}

h1.nav-name, #nav-children, #nav-children > * {
    display: inline-block;
    vertical-align: top;
}

#navigation {
    position: absolute;
    right: 1em;
    top: 0;
    height: 100%;
}

.nav-box {
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;

    height: 100%;
    padding: 1em;
    border-left: 1px solid #aaa;
}

.nav-box:hover {
    background-color: #9da;
}

/** Mobile nav-box */
@media screen and (max-width: 600px) {
    #navigation {
        right: 0;
        top: 0;
        padding: 1em 0 1em 0.5em;
        background-color: inherit;
    }

    #navigation::before {
        font-family: 'Josefin Sans', sans-serif;
        content: "menu";
    }

    .nav-box {
        display: block;
        visibility: hidden;
        height: 2em;
        border: none;
    }

    #navigation:hover {
        height: 8em;
        box-shadow: 1px 1px 2px #aaa;
        border: 1px solid #aaa;
    }

    #navigation:hover .nav-box {
        visibility: visible;
    }
}

/* Controls */
#controls {
    padding: 0.5em;
    margin: 0 1em;
}

.control-button {
    background-color: #fff;

    height: 1.5em;
    border-radius: 0.25em;
    border: 1px solid #000;
    font-size: 16pt;

    cursor: pointer;
    outline: none;
}

.control-button:active {
    background-color: #fa2;
}

.control-button:disabled, .control-button:disabled:active {
    cursor: default;
    background-color: #ddd;
}

.button-box {
    display: inline-block;
    vertical-align: top;
    margin: 0 0.5em;
}

.button-caption {
    font-size: 0.5em;
    transform: translateY(-0.5em);
}

/* Filename box */
div.filename {
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.25em;
    margin: 0.75em;
    border-radius: 0.25em;
    /* border: 1px solid #000; */

    background-color: #000;
    color: #fff;
}