/* Stack and static stuff */
#stack-content {
    position: relative;
    display: flex;
}

/**********************************************************************
 * Toggles for stack-up vs stack-down
 *********************************************************************/
#stack-content.up {
    border-bottom: 1px solid #000;
    flex-direction: column-reverse;
}

#stack-content.down {
    border-top:  1px solid #000;
    flex-direction: column;
}

.stack-raw {
    display: flex;
}

.up .stack-raw {
    flex-direction: column;    
}

.down .stack-pointer, 
.down .byte-address {
    transform: translate(0, 0.6em);
}

.up .stack-pointer,
.up .byte-address {
    transform: translate(0, -1em);
}

.down .stack-raw {
    flex-direction: column-reverse;
}

.down .aligned, 
.down .stack-byte:hover {
    box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}

.up .aligned, 
.up .stack-byte:hover {
    box-shadow: 0px -1px 0px rgba(0,0,0,0.2);
}
/*********************************************************************/

#toggle-stack-direction {
    margin-left: 0.5em;
}

.stack-decode {
    width: 35%;
}

.stack-item {
    display: flex;
    flex-shrink: 0;
}

.stack-pointer {
    width: 5em;
    padding-right: 0.5em;
    text-align: right;

    font-weight: bold;
    overflow-x: visible;
    color: #d00;
}

.stack-pointer, .byte-address {
    background-color: #fff;
    font-size: 0.75em;
}

.stack-decode {
    cursor: pointer;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.stack-decode-content {
    display: block;
    width: 100%;
    text-align: center;
}

.stack-decode-encoding {
    top: 0.25em;
    right: 0.25em;
    color: #aaa;
    position: absolute;
    font-size: 0.5rem;
    font-family: sans-serif;
}

.stack-decode-content, .stack-decode-encoding {
    /* prevent weird text selection */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
}

.stack-byte > span {
    display: inline-block;
}

.byte-value {
    background-color: #aaa;
    border-top: 1px solid #000;
    padding: 0.1em 0.5em;
}

.byte-address {
    visibility: hidden;
    padding: 0 0.5em;
}

.aligned > .byte-address, .stack-byte:hover .byte-address {
    visibility: visible;
    cursor: pointer;
}

.button-group {
    position: absolute;
    right: 10%;
}
