.static-byte > span {
    display: flex;
}

.static-byte > .byte-value {
    height: 1.2em;
}

.static-byte:hover .byte-address {
    visibility: visible;
}

/* Static stuff */
.static-label, .static-address, .toggle-encoding-static {
    display: inline-block;
    margin-right: 0.25em;
}

.static-value {
    margin-top: 0.25em;
    position: absolute;
}

.static-bytes {
    display: flex;
}

.static-label {
    font-style: italic;
}

.static-address {
    padding: 0 0.1em;
}

.toggle-encoding-static {
    margin-top: 0.1em;
}

.static-address {
    color: #aaa;
/*  border: 1px solid #aaa;
    border-radius: 0.25em; */
}

.static-decoded {
    text-align: center;
    border: 1px solid #000;
    padding: 0.1em 0;
}

.static-byte-value {
    background-color: #aaa;
    border: 1px solid #000;
    padding: 0 0.1em;
}

/* Parent container for byte group */
.static-byte-group {
    width: 100%;
    min-height: 5em;

    position: relative;
}

.tab {
    height: 2em;
    padding: 0.5em;
    cursor: pointer;
}

.tab-selected {
    font-weight: bold;
    border: 1px solid #aaa;
    border-top: none;
    border-radius: 0 0  0.5em 0.5em;
}