* {
	box-sizing: border-box;
}

/* Nav bar, lives above everything and is fixed */
nav {
    position: fixed;
    width:  100%;
    top: 0;
    height: 3em;
    background-color: #dfd;

    border-bottom: 1px solid #aaa;
    box-shadow: 1px 1px 1px #aaa;
    z-index: 10;
}

main {
    margin-top: 3em;
    height: calc(100% - 3em);
}

@media screen and (max-width: 800px) {
	.container {
		width: calc(100% - 4em);
	}
}

/* Neat hack to hide my email address but display it aight */
span.at:after {
	content: '@';
}

a.nostyle, a.nostyle:visited, a.nostyle:hover {
	text-decoration: none;
	color: inherit;
}

/* Console */
#console {
	background-color: #000;
	color: #fff;

	overflow-y: scroll;
}

.console-input {
	display: inline-block;
	width: 80%;

	resize: none;
	border: none;

	background-color: #000;
	font-family: Courier;
	color: #fff;
	margin: 0;
}

.console-input:active, .console-input:focus {
	border: none;
	outline: none;
}

.console-line, .console-input {
	font-size: 12pt;
	margin: 0;
	min-height: 1.5em;
}

/* Register stuff */
.register {
	float: left;
	width: calc(100% - 2em);
	padding: 0.1em 0.5em;
	margin: 0.1em 0.5em;

	background-color: #eee;
	border-radius: 0.25em;
	position: relative;
	min-height: 1em;

	clear: both;
}

.register-value {
	float: right;
	margin-right: 3em;
	text-align: right;
	word-wrap: break-word;
}

#register-flags {
	position: absolute;
	top: 1em;
	right: 2em;
}

.register-flag {
	padding: 0.25em;
	margin: 0 0.25em;

	border: 1px solid #000;
	border-radius: 0.25em;
}

/* Instruction stuff */
.pc {
	position: absolute;
	right: 1em;
	top: 1em;
}

.instruction {
	padding: 0.1em 0;
	border-radius: 0.25em;
	font-size: 10pt;
}

.instruction-label,
.instruction-operand,
.instruction-mnemonic,
.instruction-address {
	display: inline-block;
}

.instruction-label {
	font-style: italic;
	font-size: 0.8em;
	text-align: right;
	padding-right: 0.5em;
	width: 15%;
}

.instruction-address {
	color: #999;
	margin: 0 0.5em;
	padding: 0 0.25em;
	cursor: pointer;
	border: 1px solid #fff;
    border-radius: 0.25em;
}

.instruction-mnemonic {
	width: 20%;
}

.instruction-operand {
	width: 60%;
}

.current {
	background: #ddd;
	font-weight: bold;
}

.toggle {
	border: 1px solid #000;
	border-radius: 0.25em;
	cursor: pointer;
	padding: 0 0.25em;
}

.toggle-register {
	font-weight: bold;
	color: #fff;
	position: absolute;
	top: 0;
}

.toggle-encoding {
	right: 1em;
	position: absolute;
	top: 0;
}

/*
.stack-byte:hover .byte-address,*/

.aligned {
	box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}

.button-group > .desc {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 0.5em;
	font-family: 'Josefin Sans', sans-serif;
	transform: translateY(-1em);
}

